torch==2.4.0+cu118
torchvision==0.19.0+cu118
xformers==0.0.27.post2
pytorch-lightning==2.4.0
spconv-cu120==2.3.6
numpy==1.26.4
triton==2.1.0
dataclasses_json
easydict
opencv-python>4.5
imageio==2.36.1
imageio-ffmpeg==0.5.1
rembg==2.0.61
trimesh==4.4.4
moviepy==1.0.3
pymeshfix==0.17.0
igraph==0.11.8
pyvista==0.36.1
openai==1.58.1
transformers==4.42.4
gradio==5.12.0
sentencepiece==0.2.0
diffusers==0.31.0
xatlas==0.0.9
onnxruntime==1.20.1
tenacity==8.2.2
accelerate==0.33.0
basicsr==1.4.2
realesrgan==0.3.0
pydantic==2.9.2
vtk==9.3.1
spaces
utils3d@git+https://github.com/EasternJournalist/utils3d.git#egg=9a4eb15
clip@git+https://github.com/openai/CLIP.git
kolors@git+https://github.com/Kwai-Kolors/Kolors.git#egg=038818d
segment-anything@git+https://github.com/facebookresearch/segment-anything.git#egg=dca509f
nvdiffrast@git+https://github.com/NVlabs/nvdiffrast.git#egg=729261d
# https://github.com/nerfstudio-project/gsplat/releases/download/v1.5.0/gsplat-1.5.0+pt24cu118-cp310-cp310-linux_x86_64.whl
# https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.0.post2/flash_attn-2.7.0.post2+cu11torch2.4cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
# https://huggingface.co/xinjjj/RoboAssetGen/resolve/main/wheel_cu118/diff_gaussian_rasterization-0.0.0-cp310-cp310-linux_x86_64.whl
